<div class="mt-5" id="footer">

    <div class="text-white text-center text-lg-start" id="footer-container">
      <!-- Grid container -->
      <div class="container p-4">
        <div class="row mt-4">
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0 about-text">
            <h5 class="text-uppercase mb-4">About company</h5>
            <p>
              The <span>Poseidon Bakery</span>, founded in 1923, began supplying New York with
              authentic treats from ancient Greece.
            </p>
            <p>
              Today, the <span>Poseidon Bakery</span> is one of New York's authentic family run
              businesses. Generations have passed, and the neighborhood has changed, but the delicacies at the bakery
              have remained the same.
            </p>

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4 pb-1">CONTACT US</h5>
            <ul class="icon-list fa-ul ">
              <li class="mb-3 home-icon">
                <span class="ms-2">629 9th Avenue, New York, NY,
                  10036</span>
              </li>
              <a href="mailto:Paul@POSEIDONBAKERY.COM" style="color: inherit; text-decoration: none;">
                <li class="mb-3 email-icon">
                  <span class="ms-2">Paul@POSEIDONBAKERY.COM</span>
                </li>
              </a>
              <li class="mb-3 phone-icon">
                <span class="ms-2">212-757-6173</span>
              </li>

            </ul>

            <div class="social my-4">
              <a href="https://www.facebook.com/PoseidonBakeryNYC" target="_blank"> <img
                  src="/images/shared/facebook3.png" alt="Facebook Link"></a>
              <a href="https://twitter.com/PoseidonBakery" target="_blank">
                <img src="/images/shared/twitter3.png" alt="Twitter Link"></a>
              <a href="http://instagram.com/poseidonbakery" target="_blank">
                <img src="/images/shared/instagram3.png" alt="instagram Link"></a>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0 hours">
            <h5 class="text-uppercase mb-4">Operating hours</h5>

            <table class="table text-center text-white">
              <tbody class="font-weight-normal">
                <tr>
                  <td>Tue-Sat:</td>
                  <td>10am - 6pm</td>
                </tr>
                <tr>
                  <td>Sun-Mon:</td>
                  <td>Closed</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--Grid column-->
        </div>
        <div class="copyright my-2">
          <script type="text/javascript">
            now = new Date();
            year = now.getFullYear(); 
          </script>
          &copy;
          <script type="text/javascript">
            document.write(year);
          </script> POSEIDON BAKERY
        </div>
      </div>
      <!-- Grid container -->

    </div>
  </div>
  </div>