<header>
    <div id="header">
      <nav class="navbar navbar-expand-md navbar bg">
        <div class="container-fluid min-center">
          <div class="col-md-3 mb-2 mb-md-0 justify-content-center">
            <a href="/home" class="d-inline-flex link-body-emphasis text-decoration-none">
              <img src="/images/shared/poseidonLogo.jpg" class="logo" alt="Poseidon Bakery Logo">
            </a>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05"
            aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample05">
            <ul class="navbar-nav container-fluid justify-content-end me-auto mb-2 mb-md-0">
              <li class="nav-item" id="nav-home"><a href="/home" class="nav-link px-5  text-body-emphasis">HOME</a></li>
              <li class="nav-item" id="nav-menu"><a href="/menu" class="nav-link px-5  text-body-emphasis"
                  style="color: #00529b;">MENU</a></li>
              <li class="nav-item" id="nav-about"><a href="/about" class="nav-link px-5  text-body-emphasis"
                  style="color: #00529b;">ABOUT US</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>