<!DOCTYPE html>
<html lang="en">

<head>
  <title>About Us</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <link rel="stylesheet" href="/styles/style.css" media="all" />
</head>

<body data-page="about">
  <%- include("./partials/header.ejs") %>
  <div class="about-container">
    <div class="about-row">
      <img src="/images/about/m1.png" alt="first mural image" />
      <div class="mural-text">
        <img src="/images/about/mural1text.png" alt="text for first mural" />
      </div>
    </div>
    <div class="about-row">
      <div class="mural-text">
        <img src="/images/about/mural2text.png" alt="text for second mural" />
      </div>
      <img src="/images/about/m2.png" alt="second mural image" />
    </div>
    <div class="about-row">
      <img src="/images/about/m3.png" alt="third mural image" />
      <div class="mural-text">
        <img src="/images/about/mural3text.png" alt="text for third mural" />
      </div>
    </div>
    <div class="about-row">
      <div class="mural-text">
        <img src="/images/about/mural4text.png" alt="text for fourth mural" />
      </div>
      <img src="/images/about/m4.png" alt="fourth mural image" />
    </div>
    <div class="about-row">
      <img src="/images/about/m5.png" alt="fifth mural image" />
      <div class="mural-text">
        <img src="/images/about/mural5text.png" alt="text for fifth mural" />
      </div>
    </div>
    <div class="about-row">
      <div class="mural-text">
        <img src="/images/about/mural6text.png" alt="text for sixth mural" />
      </div>
      <img src="/images/about/m6.png" alt="sixth mural image" />
    </div>
    <div class="about-row">
      <img src="/images/about/m7.png" alt="seventh mural image" />
      <div class="mural-text">
        <img src="/images/about/mural7text.png" alt="text for seventh mural" />
      </div>
    </div>
    <div class="about-row">
      <div class="mural-text">
        <img src="/images/about/mural8text.png" alt="text for eighth mural" />
      </div>
      <img src="/images/about/m8.png" alt="eighth mural image" />
    </div>
  </div>
  <hr />
  <div class="history-container">
    <div class="history">
      <h2>About Us</h2>
      <p>Over 100 years ago, Demetrius Anagnostou began baking delicious treats in his small shop on the island of
        Corfu. His dreams led him to New York in 1923, where he settled on the west side of Manhattan, and earned a
        living doing what he knew best - baking.
        Together with his eldest son Michael, the Poseidon Bakery was founded in the heart of Hell's Kitchen.

        For decades, Michael and his beloved wife Menina worked side-by-side making some of the most amazing, authentic
        treats for New York City's finest restaurants and discerning customers.

        Their secret recipes were handed-down to their sons John and Anthony, who continued the tradition and expanded
        their outstanding reputation.
      </p>
      <p>Today, the Poseidon Bakery tradition continues as one of New York City's authentic, family-run businesses,
        owned and operated by Lili Fable and her son Paul, the grandson of Michael.

        For over a century, Poseidon has been the single source for authentic, hand-made Greek treats. The Poseidon
        Bakery is one of the only places in the country that still patiently makes phyllo by hand, supplying
        world-renowned chefs, global food connoisseurs and NY's finest restaurants.

        While our recipes are secret - our delicious sweets and savories provide a glimpse of the old-school
        preparation, outstanding ingredients and love passed through many generations.
      </p>
    </div>
  </div>
  <img src="/images/about/mural.jpg" alt="Image of full mural" class="full-mural" />

  <div class="home-button"><a href="/home"><button class="btn btn-primary px-4 my-5" type="button">
        Home ↑
      </button></a>
  </div>

  <%- include("./partials/footer.ejs") %>
  </div>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
  </body>

</html>