<!DOCTYPE html>
<html>

<head>
  <title>Menu</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name=viewport content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <link rel="stylesheet" href="public/styles/style.css" media="all">
</head>

<body>
  <header>
    <div id="header">
      <nav class="navbar navbar-expand-md navbar bg">
        <div class="container-fluid min-center">
          <div class="col-md-3 mb-2 mb-md-0 justify-content-center">
            <a href="./index.html" class="d-inline-flex link-body-emphasis text-decoration-none">
              <img src="html/images/shared/poseidonLogo.jpg" class="logo" alt="Poseidon Bakery Logo">
            </a>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05"
            aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample05">
            <ul class="navbar-nav container-fluid justify-content-end me-auto mb-2 mb-md-0">
              <li class="nav-item" id="nav-home"><a href="./index.html" class="nav-link px-5  text-body-emphasis">HOME</a></li>
              <li class="nav-item" id="nav-menu"><a href="./menu.html" class="nav-link px-5  text-body-emphasis"
                  style="color: #00529b;">MENU</a></li>
              <li class="nav-item" id="nav-about"><a href="./about.html" class="nav-link px-5  text-body-emphasis"
                  style="color: #00529b;">ABOUT US</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <div class="menu-container">
    <div class="navbar-container">
      <div class="scroll-container">
        <div id="menu-navbar" class="menu-navbar">
          <ul id="menu" class="menu">
            <li class="item" id="nav-popular-items"><a href="./menu.html#popular-items">Popular Items</a></li>
            <li class="item" id="nav-sweets"><a href="./menu.html#sweets">Sweets</a></li>
            <li class="item" id="nav-savories"><a href="./menu.html#savories">Savories</a></li>
            <li class="item" id="nav-cookies"><a href="./menu.html#cookies">Cookies & Treats</a></li>
            <li class="item" id="nav-strudels"><a href="./menu.html#strudels">Strudels</a></li>
            <li class="item" id="nav-specialties"><a href="./menu.html#specialties">Other Specialties</a></li>
          </ul>
        </div>
      </div>
    </div>
    <section id="popular-items" class="menu-item-group">
      <h2>Popular Items</h2>
      <hr />

      <div class="menu-items-wrapper">
        <div class="menu-items">
          <div class="menu-item-wrapper">
            <div class="menu-item">

              <img src="./html/images/shared/baklava.jpg" />
              <div>
                <div class="menu-item-title">
                  <h3>Baklava</h3>
                </div>
                <div class="menu-item-details">
                  <p>Our most famous pastry with layers of baked walnuts and almonds between crispy, golden phyllo comes
                    drenched in honey.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item-wrapper">
            <div class="menu-item">

              <img src="./html/images/menu/spanakopita.jpg" />
              <div>
                <div class="menu-item-title">
                  <h3>Spanakopita</h3>
                </div>
                <div class="menu-item-details">
                  <p>Our light, flaky SPINACH PIE made with feta and a touch of dill.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item-wrapper">
            <div class="menu-item">
              <img src="./html/images/menu/kreatopita.jpg" />
              <div>
                <div class="menu-item-title">
                  <h3>Kreatopita</h3>
                </div>
                <div class="menu-item-details">
                  <p>Poseidon's amazing MEAT PIE with beef and our secret seasoning.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item-wrapper">
            <div class="menu-item">
              <img src="./html/images/shared/finikia.jpg" />
              <div>
                <div class="menu-item-title">
                  <h3>Finikia</h3>
                </div>
                <div class="menu-item-details">
                  <p>Delicious crushed walnut and almond cookies, soaked in honey, available in full or mini size.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item-wrapper">
            <div class="menu-item">
              <img src="./html/images/menu/kouroumbiedes.jpg">
              <div>
                <div class="menu-item-title">
                  <h3>Kouroumbiedes</h3>
                </div>
                <div class="menu-item-details">
                  <p>The melt-in-your-mouth, rich butter almond cookie, blanketed in powdered sugar.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item-wrapper">
            <div class="menu-item">

              <img src="./html/images/menu/afali.jpg" />
              <div>
                <div class="menu-item-title">
                  <h3>Afali</h3>
                </div>
                <div class="menu-item-details">
                  <p>A crown of crispy phyllo surrounds a roll of finely chopped pistachios, topped with honey.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item-wrapper">
            <div class="menu-item holiday">
              <img src="./html/images/shared/kouloura.jpg">
              <div>
                <div class="menu-item-title">
                  <h3>Kouloura</h3>
                  <h6>Only sold for Easter & Greek Easter</h6>
                </div>
                <div class="menu-item-details">
                  <p>Braided round bread with dyed red eggs in the middle with a cross over the eggs.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item-wrapper">
            <div class="menu-item">
              <img src="./html/images/menu/apple-strudel.jpg">
              <div>
                <div class="menu-item-title">
                  <h3>Apple Strudel</h3>
                </div>
                <div class="menu-item-details">
                  <p>Sliced Apples combined with cinnamin and raisins.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item-wrapper">
            <div class="menu-item">
              <img src="./html/images/menu/cherry-strudel.jpg">
              <div>
                <div class="menu-item-title">
                  <h3>Cherry Cheese Strudel</h3>
                </div>
                <div class="menu-item-details">
                  <p>Our Cherry flavor but with a ricotta and cream mixture thats sweetened and seasoned.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="sweets" class="menu-item-group">
      <h2>Sweets</h2>
      <p>Our traditional, hand-made Greek pastries are unparalleled. After all, we're the place that Bobby Flay goes
        when he's in the mood for Greek desserts!</p>
      <hr />

      <div class="menu-items-wrapper">
        <div class="menu-items">
          <div class="menu-item-wrapper">
            <div class="menu-item" id="baklava">
              <img src="./html/images/shared/baklava.jpg" />
              <div>
                <div class="menu-item-title">
                  <h3>Baklava</h3>
                </div>
                <div class="menu-item-details">
                  <p>The traditional Greek pastry of layered chopped almonds, walnuts and crisp phyllo drenched in
                    honey.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item-wrapper">
            <div class="menu-item" id="Saragli">
              <img src="./html/images/menu/saragli.jpg" />
              <div>
                <div class="menu-item-title">
                  <h3>Saragli</h3>
                </div>
                <div class="menu-item-details">
                  <p>Rolled baklava... Easier to eat on the go.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item-wrapper">
            <div class="menu-item" id="afali">
              <img src="./html/images/menu/afali.jpg" />
              <div>
                <div class="menu-item-title">
                  <h3>Afali</h3>
                </div>
                <div class="menu-item-details">
                  <p>Also known as a "bird's nest" has a roll of chopped pistachios surrounded by phyllo and dipped in
                    honey.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item-wrapper">
            <div class="menu-item" id="trigona">
              <img src="./html/images/menu/trigona.jpg" />
              <div>
                <div class="menu-item-title">
                  <h3>Trigona</h3>
                </div>
                <div class="menu-item-details">
                  <p>An almond paste triangle surrounded by phyllo... and honey.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item-wrapper">
            <div class="menu-item" id="Galactobouriko">
              <img src="./html/images/menu/galactobouriko.jpg" />
              <div>
                <div class="menu-item-title">
                  <h3>Galactobouriko</h3>
                </div>
                <div class="menu-item-details">
                  <p>Our famous, rich custard pastry in slices or individually wrapped.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="savories" class="menu-item-group">
      <h2>Savories</h2>
      <p>Whether you're looking for a delicious lunch, light dinner or exquisite tray of hors d'oeuvres, these are a few
        of our classic savory specialties. While our individual pies make a great meal, each is available in cocktail
        sizes too. Perfect for parties or corporate office lunches. Ask about our trays-to-go.</p>
      <hr />

      <div class="menu-items-wrapper">
        <div class="menu-items">
          <div class="menu-item-wrapper">
            <div class="menu-item" id="spanakopita">
              <img src="./html/images/menu/spanakopita.jpg" />
              <div>
                <div class="menu-item-title">
                  <h3>Spanakopita</h3>
                </div>
                <div class="menu-item-details">
                  <p>Our light, flaky SPINACH PIE made with feta and a touch of dill.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item-wrapper">
            <div class="menu-item" id="kreatopita">
              <img src="./html/images/menu/kreatopita.jpg" />
              <div>
                <div class="menu-item-title">
                  <h3>Kreatopita</h3>
                </div>
                <div class="menu-item-details">
                  <p>Poseidon's amazing MEAT PIE with beef and our secret seasoning.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item-wrapper">
            <div class="menu-item" id="tiropita">
              <img src="./html/images/menu/tiropita.jpg" />
              <div>
                <div class="menu-item-title">
                  <h3>Tiropita</h3>
                </div>
                <div class="menu-item-details">
                  <p>Our delicious CHEESE PIE made with ricotta, cream cheese, feta and a touch of mint.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item-wrapper">
            <div class="menu-item" id="menina's-mash">
              <img src="./html/images/menu/meninas-mash.jpg" />
              <div>
                <div class="menu-item-title">
                  <h3>Menina's Mash</h3>
                </div>
                <div class="menu-item-details">
                  <p>The exclusive VEGETABLE PIE made with spinach, potatoes, carrots, leeks, dill and more.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="cookies" class="menu-item-group">
      <h2>Cookies & Treats</h2>
      <hr />

      <div class="menu-items-wrapper">
        <div class="menu-items">
          <div class="menu-item-wrapper">
            <div class="menu-item" id="finikia">
              <img src="./html/images/shared/finikia.jpg" />
              <div>
                <div class="menu-item-title">
                  <h3>Finikia</h3>
                </div>
                <div class="menu-item-details">
                  <p>Delicious crushed walnut and almond cookies, soaked in honey, available in full or mini size.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item-wrapper">
            <div class="menu-item" id="kouroumbiedes">
              <img src="./html/images/menu/kouroumbiedes.jpg" />
              <div>
                <div class="menu-item-title">
                  <h3>Kouroumbiedes</h3>
                </div>
                <div class="menu-item-details">
                  <p>The melt-in-your-mouth, rich butter almond cookie, blanketed in powdered sugar.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item-wrapper">
            <div class="menu-item" id="koulourakia">
              <img src="./html/images/menu/koulourakia.jpg" />
              <div>
                <div class="menu-item-title">
                  <h3>Koulourakia</h3>
                </div>
                <div class="menu-item-details">
                  <p>A light, crispy cookie spindled with sesame seeds, a favorite with coffee.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item-wrapper">
            <div class="menu-item" id="nuts">
              <img src="./html/images/menu/brittle.jpg" />
              <div>
                <div class="menu-item-title">
                  <h3>Nuts & Brittle</h3>
                </div>
                <div class="menu-item-details">
                  <p>Oven-roasted pistachios, almonds, cashews, walnuts, macadamia nuts and pecans by the pound, or
                    indulge in some coconut brittle, Pastelli (a sesame crunch brittle) or other seasonal specialty
                    items.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="strudels" class="menu-item-group">
      <h2>Strudels</h2>
      <p>Our hand-made strudels are not traditional Greek fare - but foodie favorites introduced from our Austrian side
        of the family by Menina in the 1940s. She was the Heart & Soul of the business. Strudels are sold individually
        wrapped or sliced, by the pound. Both are wrapped in golden, crispy phyllo.</p>
      <p class="clarification">*there are no nuts in our strudels*</p>
      <hr />

      <div class="menu-items-wrapper">
        <div class="menu-items">
          <div class="menu-item-wrapper">
            <div class="menu-item" id="apple-strudel">
              <img src="./html/images/menu/apple-strudel.jpg" />
              <div>
                <div class="menu-item-title">
                  <h3>Apple Strudel</h3>
                </div>
                <div class="menu-item-details">
                  <p>Sliced Apples combined with cinnamin and raisins.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item-wrapper">
            <div class="menu-item" id="apricot-strudel">
              <img src="./html/images/menu/apricot-strudel.jpg" />
              <div>
                <div class="menu-item-title">
                  <h3>Apricot Strudel</h3>
                </div>
                <div class="menu-item-details">
                  <p>Turkish and californian apricots combined which gives a sweet and tart flavor.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item-wrapper">
            <div class="menu-item" id="apricot-cheese">
              <img src="./html/images/menu/apricot-cheese-strudel.jpg" />
              <div>
                <div class="menu-item-title">
                  <h3>Apricot Cheese Strudel</h3>
                </div>
                <div class="menu-item-details">
                  <p>Our Apricot flavor but with a ricotta and cream mixture thats sweetened and seasoned.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item-wrapper">
            <div class="menu-item" id="cherry">
              <img src="./html/images/menu/cherry-strudel.jpg" />
              <div>
                <div class="menu-item-title">
                  <h3>Cherry Strudel</h3>
                </div>
                <div class="menu-item-details">
                  <p>A combination of bing cherry, black cherry, and sour cherry the gives a sweet and tart flavor.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item-wrapper">
            <div class="menu-item" id="cherry-cheese">
              <img src="./html/images/menu/cherry-cheese-strudel.jpg" />
              <div>
                <div class="menu-item-title">
                  <h3>Cherry Cheese Strudel</h3>
                </div>
                <div class="menu-item-details">
                  <p>Our Cherry flavor but with a ricotta and cream mixture thats sweetened and seasoned.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item-wrapper">
            <div class="menu-item" id="pineapple-cheese">
              <img src="./html/images/menu/pineapple-cheese-strudel.jpg" />
              <div>
                <div class="menu-item-title">
                  <h3>Pineapple Cheese Strudel</h3>
                </div>
                <div class="menu-item-details">
                  <p>Chunks of pineapple with a ricotta and cream mixture thats sweetened and seasoned.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item-wrapper">
            <div class="menu-item" id="poppy-seed">
              <img src="./html/images/menu/poppy-seed-strudel.jpg" />
              <div>
                <div class="menu-item-title">
                  <h3>Poppy Seed Strudel</h3>
                </div>
                <div class="menu-item-details">
                  <p>A poppy butter filling.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item-wrapper">
            <div class="menu-item" id="prune">
              <img src="./html/images/menu/prune-strudel.jpg" />
              <div>
                <div class="menu-item-title">
                  <h3>Prune Strudel</h3>
                </div>
                <div class="menu-item-details">
                  <p>A lekvar or prune butter filling.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="specialties" class="menu-item-group">
      <h2>Other Specialty Items</h2>
      <p>At the Poseidon Bakery, you'll discover some hard-to-find specialty items.</p>
      <hr />

      <div class="menu-items-wrapper">
        <div class="menu-items">

          <div class="menu-item-wrapper">
            <div class="menu-item" id="halva">
              <img src="./html/images/menu/halva.jpg" />
              <div>
                <div class="menu-item-title">
                  <h3>Halva</h3>
                </div>
                <div class="menu-item-details">
                  <p>Crushed sesame seeds with sugar grounded to paste, flavored with almonds, pistachios, or chocolate.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item-wrapper">
            <div class="menu-item" id="taramosalata">
              <img src="./html/images/menu/taramosalata.png" />
              <div>
                <div class="menu-item-title">
                  <h3>Taramosalata</h3>
                </div>
                <div class="menu-item-details">
                  <p>Greek style caviar spread.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item-wrapper">
            <div class="menu-item" id="attiki-honey">
              <img src="./html/images/menu/attiki-honey.png" />
              <div>
                <div class="menu-item-title">
                  <h3>Imported Attiki Honey</h3>
                </div>
                <div class="menu-item-details">
                  <p>Pure raw greek honey.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item-wrapper">
            <div class="menu-item" id="feta-cheese">
              <img src="./html/images/menu/feta-cheese.png" />
              <div>
                <div class="menu-item-title">
                  <h3>Feta Cheese</h3>
                </div>
                <div class="menu-item-details">
                  <p>Traditonal greek cheese and a staple of greek cuisine.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item-wrapper">
            <div class="menu-item" id="dolmatis">
              <img src="./html/images/menu/dolmatis.png" />
              <div>
                <div class="menu-item-title">
                  <h3>Dolmatis</h3>
                </div>
                <div class="menu-item-details">
                  <p>Vine leaves stuffed with rice.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item-wrapper">
            <div class="menu-item holiday" id="vasilopita">
              <img src="./html/images/shared/vasilopita.jpg" />
              <div>
                <div class="menu-item-title">
                  <h3>Vasilopita</h3>
                </div>
                <div class="menu-item-details">
                  <h6>Only sold for Christmas & New Year's.</h6>
                  <p>Round bread with sesame seeds on top spelling out the next year. The tradition is that there is a
                    coin in the bread, a family cuts out one piece each from oldest to youngest, with the winner having
                    good luck for the year.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item-wrapper">
            <div class="menu-item holiday" id="kouloura">
              <img src="./html/images/shared/kouloura.jpg" />
              <div>
                <div class="menu-item-title">
                  <h3>Kouloura</h3>
                  <h6>Only sold for Easter & Greek Easter</h6>
                </div>
                <div class="menu-item-details">
                  <p>Braided round bread with dyed red eggs in the middle with a cross over the eggs.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <hr />
  <div class="home-button"><a href="./index.html"><button class="btn btn-primary px-4 my-4" type="button">
        Home ↑
      </button></a>
  </div>
  <div class="mt-5" id="footer">

    <div class="text-white text-center text-lg-start" id="footer-container">
      <!-- Grid container -->
      <div class="container p-4">
        <div class="row mt-4">
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0 about-text">
            <h5 class="text-uppercase mb-4">About company</h5>
            <p>
              The <span>Poseidon Bakery</span>, founded in 1923, began supplying New York with
              authentic treats from ancient Greece.
            </p>
            <p>
              Today, the <span>Poseidon Bakery</span> is one of New York's authentic family run
              businesses. Generations have passed, and the neighborhood has changed, but the delicacies at the bakery
              have remained the same.
            </p>

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4 pb-1">CONTACT US</h5>
            <ul class="icon-list fa-ul ">
              <li class="mb-3 home-icon">
                <span class="ms-2">629 9th Avenue, New York, NY,
                  10036</span>
              </li>
              <a href="mailto:Paul@POSEIDONBAKERY.COM" style="color: inherit; text-decoration: none;">
                <li class="mb-3 email-icon">
                  <span class="ms-2">Paul@POSEIDONBAKERY.COM</span>
                </li>
              </a>
              <li class="mb-3 phone-icon">
                <span class="ms-2">212-757-6173</span>
              </li>

            </ul>

            <div class="social my-4">
              <a href="https://www.facebook.com/PoseidonBakeryNYC" target="_blank"> <img
                  src="./html/images/shared/facebook3.png" alt="Facebook Link"></a>
              <a href="https://twitter.com/PoseidonBakery" target="_blank">
                <img src="./html/images/shared/twitter3.png" alt="Twitter Link"></a>
              <a href="http://instagram.com/poseidonbakery" target="_blank">
                <img src="html/images/shared/instagram3.png" alt="instagram Link"></a>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0 hours">
            <h5 class="text-uppercase mb-4">Operating hours</h5>

            <table class="table text-center text-white">
              <tbody class="font-weight-normal">
                <tr>
                  <td>Tue-Sat:</td>
                  <td>10am - 6pm</td>
                </tr>
                <tr>
                  <td>Sun-Mon:</td>
                  <td>Closed</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--Grid column-->
        </div>
        <div class="copyright my-2">
          <script type="text/javascript">
            now = new Date();
            year = now.getFullYear(); 
          </script>
          &copy;
          <script type="text/javascript">
            document.write(year);
          </script> POSEIDON BAKERY
        </div>
      </div>
      <!-- Grid container -->

    </div>
  </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="../script.js"></script>
</body>

</html>